<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id ="container">
    Masukkan nama : <input type ="text" [(ngModel)]="Nama"/><br/>
    Masukkan nrp : <input type="text" [(ngModel)]="NRP"/><br/>
    Masukkan email: <input type="text" [(ngModel)]="email"/><br/>
    Masukkan no telpon: <input type="text" [(ngModel)]="telpon"/><br/>
    <ion-button (click)="btnKumpul()">Submit</ion-button>
    <br/>
    <br/>
    Data Pribadi Anda: <br/>
    Nama : {{TempatNama}} <br/>
    NRP : {{TempatNRP}} <br/>
    E-mail: {{TempatEmail}} <br/>
    No Telpon: {{TempatTelp}}
  </div>

</ion-content>
